<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BearCrawlJan16</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Article-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Login-Form-Clean-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Login-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Login-Form-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Navigation-Clean1-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Navigation-Clean1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Navigation-with-Button1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Pricing-Table-with-Icon-Buy-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Pricing-Table-with-Icon-Buy-Button1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Profile-Card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Registration-Form-with-Photo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Search-Field-With-Icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Simple-Slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/user.css') }}">
</head>

<body style="background-image:url({{ url_for('static',filename='assets/img/reg_wall.jpg') }});background-size:cover;background-repeat:no-repeat;">
    <div>
        <nav class="navbar navbar-default navigation-clean" style="background-color:rgba(255,255,255,0.23);height:38px;">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="#" style="color:rgb(255,255,255);font-family:Roboto, sans-serif;font-size:2vw;font-weight:100;height:50px;padding:0px;margin-top:4px;padding-left:0px;width:100%;margin-left:-2px;">Bear<span style="color:#336699;font-weight:300;">Crawl </span> </a>
                    <button
                        class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right" style="color:#d3cbcb;margin-right:0px;margin-top:-10px;">
                        <li role="presentation"><a href="/error/" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;">Events </a></li>
                        <li role="presentation"><a href="ClubSearch.html" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;">Explore </a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="/error/" style="color:rgb(255,255,255);font-family:Roboto, sans-serif;font-weight:100;">Manage <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu"
                                style="color:rgba(211,203,203,0);background-color:rgba(51,102,153,0.54);">
                                <li role="presentation"><a href="ClubRecruitment.html" style="font-family:Roboto, sans-serif;font-weight:100;color:rgb(255,255,255);background-color:rgba(211,203,203,0);">Recruitment </a></li>
                                <li role="presentation"><a href="/error/" style="color:rgb(255,255,255);font-family:Roboto, sans-serif;font-weight:100;background-color:rgba(234,175,15,0);">Members </a></li>
                                <li role="presentation"><a href="/error/" style="font-family:Roboto, sans-serif;font-weight:100;color:rgb(255,255,255);background-color:rgba(234,175,15,0);">Communication </a></li>
                            </ul>
                        </li>
                        <li role="presentation"><a href="#" style="color:#ffffff;font-weight:100;font-family:Roboto, sans-serif;width:99px;padding-right:16px;margin-right:-20px;">My Profile</a></li>
                        <li role="presentation"><a href="/error/" style="color:#ffffff;font-weight:100;font-family:Roboto, sans-serif;width:99px;padding-right:16px;margin-right:-20px;">Settings </a></li>
                        <li role="presentation"><a href="/logout/" style="color:#ffffff;font-weight:100;font-family:Roboto, sans-serif;width:99px;padding-right:16px;margin-right:-20px;">Logout </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="alert alert-info absolue center" role="alert" style="width:60%;margin-left:20%;margin-top:25px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
    <div class="container" style="width:80%;">
        <div class="profile-card" style="height:2146px;background-color:rgba(255,255,255,0.11);margin-top:44px;/*border:1px solid&nbsp;#336699;*/">
            <div class="profile-back" style="background-color:rgba(13,13,13,0.22);"></div><img class="img-circle profile-pic" src="{{ url_for('static',filename=club[7]) }}">
            <h3 class="text-center profile-name" style="/*background-color:rgba(211,203,203,0);*//*border-color:#336699;*/border-bottom-color:#336699;color:#ffffff;font-weight:100;width:336px;">{{ club[0] }}</h3>
            <p class="profile-bio" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;margin-bottom:-4px;width:50%;margin-left:25%;margin-top:-11px;">{{ club[1] }}</p>
            <p class="profile-bio" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;margin-bottom:-3px;width:50%;margin-left:25%;margin-top:-13px;margin-right:38px;">0 Members </p><a href="#" style="font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;color:rgb(255,255,255);width:6%;margin-top:0px;">Application </a>
            <h3 class="text-center profile-name" style="/*background-color:rgba(211,203,203,0);*//*border-color:#336699;*/border-bottom-color:#336699;color:#ffffff;font-weight:100;margin-top:50px;">Club Description</h3>
            <p class="profile-bio" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;margin-bottom:11px;width:60%;margin-left:20%;">{{ club[2] }}</p>
            <h3 class="text-center profile-name"
                style="/*background-color:rgba(211,203,203,0);*//*border-color:#336699;*/border-bottom-color:#336699;color:#ffffff;font-weight:100;margin-top:50px;">Club History</h3>
            <p class="profile-bio" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;margin-bottom:11px;width:60%;margin-left:20%;">{{ club[3] }}</p>
            <h3 class="text-center profile-name"
                style="/*background-color:rgba(211,203,203,0);*//*border-color:#336699;*/border-bottom-color:#336699;color:#ffffff;font-weight:100;margin-top:50px;">Important Dates</h3>
            <p class="profile-bio" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;margin-bottom:11px;width:40%;margin-left:30%;">{{ club[9] }}</p>
            <h3 class="text-center profile-name"
                style="/*background-color:rgba(211,203,203,0);*//*border-color:#336699;*/border-bottom-color:#336699;color:#ffffff;font-weight:100;margin-top:50px;">Extra </h3>
            <p class="profile-bio" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;margin-bottom:11px;width:50%;margin-left:25%;margin-top:-10px;">Tags: {{ club[5] }}</p>
            <p class="profile-bio" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;margin-bottom:0px;width:50%;margin-left:25%;margin-top:-27px;">Contact Email and or Phone: {{ club[10] }}</p>
            <p class="profile-bio" style="color:#ffffff;font-family:Roboto, sans-serif;font-weight:100;font-size:1vw;margin-bottom:33px;width:50%;margin-left:25%;margin-top:-17px;">Club Website: {{ club[6] }}</p>
            <ul class="social-list">
                <li> <i class="fa fa-facebook-official" style="background-color:#ffffff;color:rgb(0,0,0);font-size:19px;"></i></li>
                <li> <i class="fa fa-twitter-square" style="color:rgb(0,0,0);background-color:rgb(255,255,255);font-size:19px;"></i></li>
                <li> <i class="fa fa-linkedin-square" style="color:rgb(0,0,0);font-size:19px;background-color:rgb(255,255,255);"></i></li>
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/bs-animation-1.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/bs-animation.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/Profile-Edit-Form.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/Simple-Slider.js') }}"></script>
</body>

</html>