<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealCrawl</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Article-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Login-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Login-Form-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Navigation-Clean1-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Navigation-Clean1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Navigation-with-Button1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Registration-Form-with-Photo.css') }}">
</head>

<body style="background-image:url({{ url_for('static',filename='assets/img/login_wall.jpg') }});height:3325px;background-size:cover;font-weight:150;font-family:Roboto, sans-serif;background-repeat:no-repeat;">
    <div>
        <nav class="navbar navbar-default navigation-clean" style="background-color:rgba(255,255,255,0.11);height:53px;">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="/" style="font-weight:100;font-family:Roboto, sans-serif;color:#fffffd;font-size:24px;padding:0px;margin:6px;width:135px;">Bear<span style="color:#eaaf0f;font-weight:300;">Crawl </span></a>
                    <button
                    class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1" style="margin:-1px;padding:10px;margin-bottom:0px;margin-left:0px;margin-right:10px;"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right" style="height:41px;margin:-9px;margin-right:-31px;">
                        <li role="presentation"><a href="/studentLogin/" style="color:rgb(248,250,251);font-family:Exo, sans-serif;">Student Login</a></li>
                        <li role="presentation"><a href="/clubLogin/" style="color:rgb(250,250,251);font-family:Exo, sans-serif;">Club Login</a></li>
                        <li role="presentation"><a href="/about/" style="color:rgb(250,250,251);font-family:Exo, sans-serif;">About </a></li>
                        <li role="presentation"><a href="/contact/" style="color:rgb(250,250,251);font-family:Exo, sans-serif;">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div style="font-weight:150;">
        <h1 class="text-center" style="color:rgb(244,236,236);margin:0px;margin-top:199px;font-size:6vw;font-family:Roboto, sans-serif;font-style:normal;font-weight:100;">Welcome to</h1>
        <h1 class="text-center" style="color:rgb(244,236,236);margin:0px;margin-top:14px;font-size:6vw;font-family:Roboto, sans-serif;font-weight:100;">Bear<span style="color:#eaaf0f;font-weight:300;">Crawl </span></h1>
        <h1 class="text-center" style="color:rgb(244,236,236);margin:0px;margin-top:38px;font-size:2vw;font-family:Roboto, sans-serif;margin-bottom:419px;font-weight:105;">Find your community. Find your club. Find your home. </h1></div>
    <p class="text-center" style="margin-bottom:36px;color:rgb(247,243,243);font-size:42px;font-weight:100;font-family:Roboto, sans-serif;">Mission </p>
    <p class="text-center" style="margin:107px;margin-bottom:489px;color:rgb(247,243,243);font-family:Roboto, sans-serif;font-weight:100;margin-top:20px;font-size:30px;">Lorem Lorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum
        LoremLorem Ipsum Lorem Ipsum Lorem IIpsum Lorem IpsumLorem Ipsum Lorem Ipsum LoremLorem Lorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem
        IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem </p>
    <header></header>
    <div style="align-self:center;">
        <div class="container" style="padding-right:0px;padding-left:0px;margin-right:0px;margin-left:0px;width:auto;">
            <div class="row" style="background-color:rgba(181,204,231,0.31);padding:51px;margin-top:33px;margin-bottom:102px;">
                <div class="col-md-4" style="padding-right:0px;"><i class="glyphicon glyphicon-link" data-bs-hover-animate="pulse" style="color:rgb(255,255,255);font-size:10vw;padding-left:6%;text-align:center;width:100%;"></i>
                    <p class="text-center" style="color:rgb(245,241,241);font-size:5vw;width:100%;margin-left:0px;padding-left:6%;margin-top:24px;font-family:Roboto, sans-serif;font-weight:100;">Connect </p>
                    <p class="text-center" style="background-color:rgba(255,255,255,0);color:rgb(251,243,243);font-family:Roboto, sans-serif;font-weight:100;font-size:17px;">Lorem Lorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem
                        Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum Lorem IpsumLorem Ipsum Lorem Ipsum LoremLorem Lorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum
                        LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem </p>
                </div>
                <div class="col-md-4" style="padding-right:0px;padding-left:0px;font-size:39px;"><i class="fa fa-group" data-bs-hover-animate="pulse" style="color:rgb(255,255,255);font-size:10vw;padding-left:6%;text-align:center;width:100%;"></i>
                    <p class="text-center" style="color:rgb(255,255,255);font-size:5vw;padding-left:7%;width:100%;margin-left:-1px;margin-top:24px;font-family:Roboto, sans-serif;font-weight:100;">Manage </p>
                    <p class="text-center" style="font-size:17px;color:rgb(248,242,242);font-family:Roboto, sans-serif;font-weight:100;">Lorem Lorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem
                        Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum Lorem IpsumLorem Ipsum Lorem Ipsum LoremLorem Lorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum
                        LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem </p>
                </div>
                <div class="col-md-4" style="padding-right:0px;padding-left:0px;"><i class="fa fa-location-arrow" data-bs-hover-animate="pulse" style="color:rgb(255,255,255);font-size:10vw;padding-left:7%;text-align:center;width:100%;"></i>
                    <p class="text-center" style="color:rgb(255,255,255);width:100%;font-size:5vw;margin-left:0px;margin-right:0px;padding-left:7%;margin-top:24px;font-family:Roboto, sans-serif;font-weight:100;">Explore </p>
                    <p class="text-center" style="color:rgb(248,236,236);font-family:Roboto, sans-serif;font-weight:100;font-size:17px;">Lorem Lorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem
                        Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Lorem Lorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum
                        LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum LoremLorem Ipsum Lorem Ipsum Lorem IIpsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="padding-bottom:60px;margin-bottom:82px;"><i class="icon-graph" style="color:rgb(255,255,255);font-size:97px;margin:98px;margin-left:141px;"></i>
                    <p class="text-center" style="color:rgb(255,255,255);font-family:Roboto, sans-serif;font-weight:100;font-size:25px;">EXPLANATION OF GRAPH</p>
                </div>
                <div class="col-md-4"><i class="icon-graph" style="color:rgb(255,255,255);font-size:97px;margin:98px;margin-left:135px;"></i>
                    <p class="text-center" style="color:rgb(255,255,255);font-family:Roboto, sans-serif;font-weight:100;font-size:25px;">EXPLANATION OF GRAPH</p>
                </div>
                <div class="col-md-4"><i class="icon-graph" style="color:rgb(255,255,255);font-size:97px;margin:98px;margin-left:122px;"></i>
                    <p class="text-center" style="color:rgb(255,255,255);font-family:Roboto, sans-serif;font-weight:100;font-size:25px;">EXPLANATION OF GRAPH</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center" style="color:rgb(255,255,255);font-family:Roboto, sans-serif;font-size:44px;font-weight:100;margin:-73px;margin-bottom:312px;">Endorsements </p>
    <div class="footer-basic" style="height:129px;padding:12px;">
        <footer>
            <div class="social" style="height:46px;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Ripetide© 2018</p>
        </footer>
    </div>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/bs-animation.js') }}"></script>
</body>

</html>